# API Key de Pterodactyl
# Panel → tu perfil (arriba derecha) → API Credentials → Crear
# Descripción: "update-stats", IPs permitidas: dejar en blanco

PTERO_PANEL_URL=https://panel.baires.host
PTERO_API_KEY=
PTERO_SERVER_ID=044fe798

# UUID del jugador principal (NaviFFx) - no tocar
PLAYER_UUID=db23955b-69b8-4ee9-bacd-cb261574c552
SERVER_ROOT=/
